<div class="row">
	<div class="col-xs-12">
		<p>
 			Title : <%= @post.name %>
 		</p>
 		<p>
 			Description : <%= @post.description %>
 		</p>
	</div>
</div>


 <% if @post.image.present? %>
 	<%= image_tag(@post.image.url) %>
 <% end %>

 <% @post.comments.each do |comment| %>
 	<div class="well">
 		<% if comment.image.present? %>
 			<%= image_tag(comment.image.url, class: 'img-responsive') %>
	 	<% else %>
	 		<%= image_tag("dummy_img.png", class: 'img-responsive') %>
 		<% end %>
 		<p>
 			<%= comment.content %>
 		</p>
 	</div>
 <% end %>


<%= form_for(Comment.new, url: create_comment_post_path(@post)) do |f| %>
	<div class="form-group">
		<%= f.text_area :content, class: "form-control", placeholder: "Write Comment", autofocus: true %>
	</div>

	<div class="form-group">
		<%= f.file_field :image, class: "form-control" %>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-default">Post</button>
	</div>

<% end %>